<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net461" />
  <package id="gong-wpf-dragdrop" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.Expression.Drawing" version="3.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NumericUpDown" version="3.0.2" targetFramework="net461" />
</packages>